* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #001220;
  color: #ffffff;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}